<input type="text" [value]="value" [disabled]="disabled" (input)="onChange($event.target.value)" (blur)="onTouched()" (click)=toggleCalendar()>
<div class="calendar" *ngIf="showCalendar">
  <div class="calendar-nav row mx-0">
    <div class="nav-month col-2">
      <button class="button is-text" (click) = "changeNavMonth(-1)" [disabled] = "!canChangeNavMonth(-1)">
        <i class="arrow arrow-left"></i>
      </button>
    </div>
    <app-datepicker-select-nav class="col" [monthList]="monthList" [yearList]="yearList" [selectedMonth]="selectedMonth" [selectedYear]="selectedYear" (monthSelectedEvent)="onNavMonthSelect($event)" (yearSelectedEvent)="onNavYearSelect($event)"></app-datepicker-select-nav>
    <div class="nav-month col-2">
      <button class="button is-text" (click) = "changeNavMonth(1)" [disabled] = "!canChangeNavMonth(1)">
        <i class="arrow arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="calendar-date"
        *ngFor = "let day of weekDaysHeaderArr">
        {{day}}
      </div>
    </div>
    <div class="calendar-body">
      <div *ngFor = "let day of gridArr" class="calendar-date" [class.is-disabled] = "!day.available">
        <button [ngClass]="toggleSelectedClass(day)" *ngIf = "day.value !== 0" [disabled] = "!day.available" (click) = "selectDay(day)">{{day.value}}</button>
        <div *ngIf = "day.value === 0"></div>
      </div>
    </div>
  </div>
</div>
